html, body {
  width: 100%;
  margin: 0;
}

/* centers and contains all content within age  */
body {
    background-color:#f7f7f7;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

/* styles header background */
header {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    background-color: #3b5998;
    margin-bottom: 50px;
    width: 100%;
}

 /* navigation styles */
#nav {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-evenly;
}

#nav li a {
  color: #ffff;
  font-size: 1.5rem;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

#nav li a:hover {
  color: aqua;
}

/* Name h1 styling */
.logo {
    color: #ffff;
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

/* moves title software engineer within header */
.description {
    margin: 8px;
    padding-top: 15px;
    font-size: 25px;
    color: white;
}

/* targets main content  */
.main {
    max-width: 100%;
    margin: auto;
    font-size: 20px;
    padding: 0 15px;
}

/* centers all content */
#intro, #projects, #contact, #about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p, #contact p {
  padding: 0 10px;
}

#about, #contact {
  background-color: #dfe3ee;
}

#intro, #projects {
  background-color: #f7f7f7;
}

/* centers all text for sub headers */
h2, h3 {
    text-align: center;
}

/* styles image */
#portrait {
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .grid {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   #grid1:hover, #grid2:hover, #grid3:hover, #grid2:hover {
    cursor: pointer;
   }

   .project-description {
     color:#3b5998;
   }

  #form {
    display: flex;
    flex-direction: column;
  }

  #user-name, #email-input, #text-area {
    width: 80%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  #submit-button {
    background-color: #3b5998;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    width: 200px;
    max-width: 350px;
    margin: 0 auto;
    border-top: 20px;
  }

  /* label placement */
  #form label {
    display: flex;
    justify-content: center;
  }

  /* social media icons */
  #socials {
    width: 500px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 50px;
    padding-left: 0;
  }

   /* google map marker */
   /* #map {
    width: 80%;
    height: 200px;
    background-color: grey;
    margin: auto;
   } */

/* footer styles  */
footer {
    display: flex;
    height: 50px;
    background-color: #3b5998;
    color: white;
    padding: 0;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

/* vertically centers content in footer */
.foot-description {
    margin: 0;
}

   a:link {
    color: #3b5998;
  }

  a:visited {
    color: purple;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  /* mobile styles */
  @media all and (max-width: 800px) {
    html, body {
      width: 100%;
    }

    #intro, #projects, #contact, #about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    header {
      width: 100%;
    }

    .main {
      margin: 0 10px;
    }

    .grid {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .grid-element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #socials {
      width: 320px;
    }

    footer {
      width: 100%;
    }

    #portrait {
      max-width: 100%;
      height: auto;
    }
    #nav li a {
      font-size: 18px;
    }
    #nav li a:hover {
      cursor: none;
    }
    article {
      margin: 0 8px;
    }
  }